{% load static %}
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'home' %}" class="nav-link px-2 link-dark">Home</a></li>
                <li><a href="{% url 'rules' %}" class="nav-link px-2 link-dark">Rules</a></li>
                <li><a href="{% url 'stats' %}" class="nav-link px-2 link-primary">Live Stats</a></li>
                {% if request.session.user_id %}
                    <li><a href="{% url 'target' %}" class="nav-link px-2 link-danger">Target</a></li>
                {% endif %}
            </ul>

            <div class="col-md-3 text-end">
                <div class="d-flex flex-wrap align-items-right justify-content-right text-end">
                    {% if not request.session.user_id %}
                        <form action="{% url 'login' %}">
                            <button type="submit" class="btn btn-outline-primary me-2">Login</button>
                        </form>
                        <form action="{% url 'signup' %}">
                            <button type="submit"  href="{% url 'signup' %}" class="btn btn-primary">Sign-up</button>
                        </form>
                    {% else %}
                    <form action="{% url 'logout' %}">
                        <button type="submit"  href="{% url 'logout' %}" class="btn btn-primary">Log Out</button>
                    </form>
                    {% endif %}
                    </div>
             
                </div>
            </div>

        </header>
        {% if request.session.user_id and not mode == "verifying" %}
        <div class="d-flex flex-column justify-content-center" style="max-width: 80%; margin-left: 10%;">
            {% if request.session.wait_for_verify %}
                <div class="alert alert-info text-center" role="alert">
                    Waiting on your target to verify the kill
                </div>
            {% endif %}
            {% if request.session.verify_kill %}
            <div class="alert alert-info text-center" role="alert">
                <a href="{% url 'confirmkill' %}" style="text-decoration: underline; color: rgb(78,125,130)">
                    A kill report has been submitted about you. Click here to confirm or deny the report.
                </a>
            </div>
            {% endif %}
            {% if request.session.not_verified %}
            <div class="alert alert-danger" role="alert">
                <a href="{% url 'verifypin' %}" style="text-decoration: underline; color: #842029">
                    Failure to verify pin before game start will remove you from the game. Click here to verify your phone.
                </a>
            </div>
            {% endif %}
            {% if request.session.image_not_uploaded %}
            <div class="alert alert-danger" role="alert">
                <a href="{% url 'uploadimage' %}" style="text-decoration: underline; color: #842029">
                    Failure to upload portrait before game start will remove you from the game. Click here to upload a portrait. 
                </a>
            </div>
            {% endif %}
        </div>
        {% endif %}
    </div>