{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="icon" href="{% static '/assets/website_logo.png' %}">
    <title>UGA Assassins</title>

  </head>
    <body>
        <main>
            {% include './navbar.html' %}
            <section class="jumbotron" style="margin-left: 3cm; margin-right: 3cm">
                <section class="jumbotron text-center">
                    <h1 class="code-line " data-line-start=0 data-line-end=1 ><a id="Rules_0"></a>Rules</h1>
                    <h2 class="code-line" data-line-start=1 data-line-end=2 ><a id="_May_the_odds_be_ever_in_your_favor__1"></a><em>May the odds be ever in your favor</em></h2>
                </section>
                <h3 class="code-line" data-line-start=4 data-line-end=5 ><a id="How_it_works_4"></a>How it works</h3>
                <p class="has-line-data" data-line-start="5" data-line-end="6">Each player will be given a target. Your objective is to stab your target with a spoon (we can’t use anything sharper than that or it is considered assault). You must stab your target on the front of their torso for it to count. Once you have eliminated your target that person’s target becomes your next target. If you do not eliminate your original target before the round is complete you will be eliminated. When you kill your target you will submit a kill report on your profile, when the victim approves the kill report you will automatically be assigned your next target. There will be multiple rounds with decreasing amounts of time. The first round begins this Friday, April 12th at 12:00 a.m. and will end on Tuesday, April 16th at 12:00 p.m…</p>
                <h3 class="code-line" data-line-start=7 data-line-end=8 ><a id="Rules_7"></a>Rules</h3>
                <ol>
                <li class="has-line-data" data-line-start="8" data-line-end="9">There are no rules</li>
                <li class="has-line-data" data-line-start="9" data-line-end="10">If a rule greater than or equal to 3 exists, <em>Rule #1</em> is a lie</li>
                <li class="has-line-data" data-line-start="10" data-line-end="14">You cannot kill people at RUF events
                <ul>
                <li class="has-line-data" data-line-start="11" data-line-end="12">RUF events consist of but are not be limited to: large group, small groups, parents’ lunch, ministry team meeting, servant team meetings, meetings with Ben or the interns, Tate lunch (between the hours of 11am-1pm, inside the Bulldawg Cafe), etc.</li>
                <li class="has-line-data" data-line-start="12" data-line-end="14">The physical boundaries of RUF events consist of: Redeemer and its’ parking lots (including the gravel lot), Ben’s house, front yard, and driveway, the four walls of a room/building where a student and Ben/intern are meeting.
                <ul>
                <li class="has-line-data" data-line-start="13" data-line-end="14">The <em><strong>ONLY exception</strong></em> to this rule is that <em><strong>Ben Coppedge</strong></em> may be killed in or around his house except for during RUF-related gatherings at his home. Be cool though, he has a family and a life (see Rule #6)</li>
                </ul>
                </li>
                </ul>
                </li>
                <li class="has-line-data" data-line-start="14" data-line-end="17">You cannot kill people at Church
                <ul>
                <li class="has-line-data" data-line-start="15" data-line-end="16">The physical boundaries of church consist of: any church building and it’s parking lot</li>
                <li class="has-line-data" data-line-start="16" data-line-end="17">The time parameters of church consist of Sundays between 8am-2pm</li>
                </ul>
                </li>
                <li class="has-line-data" data-line-start="17" data-line-end="20">You cannot kill people in class
                <ul>
                <li class="has-line-data" data-line-start="18" data-line-end="19">The physical boundaries of class consist of: the four walls enclosing the room in which your class meets, wherever you are for a class required field trip (indoors or outdoors), etc.</li>
                <li class="has-line-data" data-line-start="19" data-line-end="20">As soon as you step out of your classroom or your field trip ends you are fair game.</li>
                </ul>
                </li>
                <li class="has-line-data" data-line-start="20" data-line-end="24">Just be cool
                <ul>
                <li class="has-line-data" data-line-start="21" data-line-end="22">We are all adults, don’t do anything mean or stupid or illegal</li>
                <li class="has-line-data" data-line-start="22" data-line-end="24"><strong>Don’t kill someone anywhere not cool</strong>
                <ul>
                <li class="has-line-data" data-line-start="23" data-line-end="24">While rule 1 is the <em>lex communis</em> of this document the Bureau of Bloodshed reserves the right to disqualify any player for abuse of this rule</li>
                </ul>
                </li>
                </ul>
                </li>
                <li class="has-line-data" data-line-start="24" data-line-end="27">If your assassin stabs you but you successfully defend yourself (meaning you stab them in their torso before they stab you in their torso):
                <ul>
                <li class="has-line-data" data-line-start="25" data-line-end="26">Your assassin cannot attempt to kill you again for 12 hours</li>
                <li class="has-line-data" data-line-start="26" data-line-end="27"><strong><em>Ties always go to the defender</em></strong></li>
                </ul>
                </li>
                <li class="has-line-data" data-line-start="27" data-line-end="28">You must have a clear picture of yourself uploaded to this website to participate. (Clearly identifiable, no other people in the image, face fully shown, basic ID card rules ect…)</li>
                <li class="has-line-data" data-line-start="28" data-line-end="30">The Bureau of Bloodshed (AKA AJ Steinhauser and Lily Gerrell) reserve the right to make all final judgments
                <ul>
                <li class="has-line-data" data-line-start="29" data-line-end="30">For clarifications or to adjudicate disputes call either AJ (770-778-1263) or Lily (Phone # pending)</li>
                </ul>
                </li>
                </ol>
                <blockquote>
                <p class="has-line-data" data-line-start="33" data-line-end="34">Special shout out to Maggie and Ward for making this awesome rules packet in 2017!</p>
                </blockquote>
            </sec>
        </main>
    </body>
</html>